<html>
<div class="center">
<head>
<h1 class="he">Welcome to your DASHBOARD <span class="black">B)</span></h1>
</head>
<body>
<div>

  <p id="shrink" class="cat"><%= angry %></p>

</div>

<div>

    <p>Total transactios:</p>
    <p><%= number_of_transactios %></p>

    <p>Total balance:</p>
    <p><%= total %></p>

    <p><%= link_to 'List of Transactios', transactios_path %></p>

    <p><%= link_to 'New Transactio', new_transactio_path %></p>

    <p>Highest expense ever:</p>
    <p><%= highest_expense_ever %></p>

    <p>Most spent at:</p>
    <p><%= most_spent_at %></p>
</div>
</body>
</div>
</html>
