<h1>Welcome to your DASHBOARD B)</h1>

<div>

  <p id="shrink"><%= angry %></p>

</div>

<div>

    <p>Total transactios:</p>
    <p><%= number_of_transactios %></p>

    <p>Total balance:</p>
    <p><%= total %></p>

    <p><%= link_to 'List of Transactios', transactios_path %></p>

    <p><%= link_to 'New Transactio', new_transactio_path %></p>

    <p>Highest expense ever:</p>
    <p><%= highest_expense_ever %></p>

    <p>Most spent at:</p>
    <p><%= most_spent_at %></p>
</div>
