<p id="notice"><%= notice %></p>

<h1>Listing Transactios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactios.each do |transactio| %>
      <tr>
        <td><%= transactio.name %></td>
        <td><%= number_to_currency(transactio.amount) %></td>
        <td><%= link_to 'Show', transactio %></td>
        <td><%= link_to 'Edit', edit_transactio_path(transactio) %></td>
        <td><%= link_to 'Destroy', transactio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transactio', new_transactio_path %>
